@media only screen and (max-width: 1094px) {
    
    body{
        padding: 30px;
    }

    nav{
        display: none;
    }

    .nav__link{
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 110px;
        height: 32px;
        margin-bottom: 0;
    
        text-align: center;
    }

    .about{
        grid-template-columns: minmax(100px, 400px) 1fr;
        grid-template-areas: 
            "img links"
            "desc desc"
        ;

        max-width: 625px;
        padding: 0;
        margin: 0 auto;
    }

    .mobile-nav{
        grid-area: "links";

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 100%;
    }

    .about__info--title{
        font-size: 35px;
    }

    .about--img{
        grid-area: img;
    }

    .about__info{
        grid-area: desc;
    }

    .bio{
        grid-template-columns: 1fr;
        min-width: 230px;
        max-width: 625px;
        padding: 0;
        justify-content: center;
    }

    .bio__joan--header,
    .bio__matt--header{
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-gap: 10px;
        align-items: end;
        justify-content: start;
    }

    .bio__joan--title,
    .bio__matt--title{
        font-size: 25px;
    }

    .bio__matt,
    .bio__joan{
        justify-content: center;
    }

    .bio__matt--body,
    .bio__joan--body{
        padding: 0;
    }
}