*{
    box-sizing: border-box;
}

:root {
    --green: #4acd41;
    --blue: #38abec;
    --pink: #f13d94;
    --yellow: #f4d031;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 120px repeat(5, 135px) 120px;
    justify-content: center;
    align-items: center;

    padding: 20px 10px 0 10px;
    border-bottom: 1px solid black;
}

.nav__img--joan{
    width: 100%;
    margin-bottom: -9px;
}

.nav__img--matt{
    width: 100%;
    margin-bottom: -14px;
}

.nav__link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 135px;
    height: 32px;
    margin-bottom: -10px;

    border-radius: 50px;
    border: 1px solid black;

    text-decoration: none;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.episodes{
    background-color: black;
    color: white;
}

.spotify{
    background-color: var(--green);
}

.fb{
    background-color: var(--blue);
}

.patreon{
    background-color: var(--pink);
}
.rss{
    background-color: var(--yellow);
}

.twitter-link{
    text-decoration: none;
    color: var(--pink);
}
.twitter-link:visited{
    color: var(--pink);
}

.about{
    display: grid;
    grid-template-columns: 400px 625px;
    grid-gap: 30px;
    justify-content: center;
    align-items: start;

    padding: 60px;
}

.about--img{
    width: 100%;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.about__info{
    align-self: start;
}
.about__info--title{
    font-family: 'Calistoga', cursive;
    font-size: 50px;
    margin: 0;
    line-height: 1;
}
.about__info--body{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* font-family: 'Arima Madurai', cursive; */
    line-height: 32px;
}

.bio{
    display: grid;
    grid-template-columns: 480px 480px;
    grid-gap: 95px;
    max-width: 1055px;
    justify-content: space-between;
    margin: 40px auto;
}

.bio__matt,
.bio__joan{
    display: flex;
    flex-direction: column;
}

.bio__joan--header,
.bio__matt--header{
    display: grid;
    grid-template-columns: 100px 300px;
    grid-gap: 10px;
    align-items: end;
    justify-content: start;

    padding: 0 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.bio__joan--title,
.bio__matt--title{
    font-family: 'Calistoga', cursive;
    font-size: 35px;
    margin: 0 0 0 10px;
}

.bio__joan--img,
.bio__matt--img{
    width: 100%;
    margin-bottom: -8px;
}
.bio__matt--img{
    transform: rotateY(180deg);
}

.bio__matt--body,
.bio__joan--body{
    padding: 0 15px;
    font-family: 'Quicksand', sans-serif;
    line-height: 32px;
    margin: 7px 0;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin: 200px 0 100px 0;
}

.footer__body{
    font-family: 'Quicksand', sans-serif;
    margin: 0 0 10px 0;
}

.footer__link{
    text-decoration: none;
    color: var(--pink);
}
.footer__link:hover{
    color: var(--pink)
}
